hsmodels >= 0.4.2
pytest == 6.0.2
requests == 2.24.0
email-validator
pandas
netCDF4
xarray
rasterio
fiona
isort
black
pytest-xdist
pytest-cov
requests_oauthlib

#TODO split out test/doc/install requirements
mknotebooks
Pygments
